<a href="https://colab.research.google.com/github/eijecnarrac2193/CejieTDS/blob/master/TerrenceDTDS_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mean = Avg of values

STD = Standard Deviation

Features = Column Names

Pandas = Python Library to easy indexing

Mode = Values that appears most often

median = Middle value of data

Scipy = solves high level math equations

sets = unordered collections

min = minimum column values

max = maximum column values

one hot encoding = converts text and strings to numbers for machine learning

attributes = data within rows of the features

numpy = helps python perform fast mathemetical operations

dictionary = creates key values (used heavuly in NoSQL)

NoSQL = (not only structured query language) = lang used to work with unstructured data

noSQL softwares = mongodb, cassandra, redis, amazon dynamo DB

SQL - structured query language = lang used to work with structured data

SQL softwares - postgreSQL, microsoft SQL server, MySQL, SQLite

Loops = perfom a task over and over again

Range Function = outputs an ordered sequence as a list

integer = number

float = decimals

string = seq of characters (words, letters, numbers, integers, floats, )

object = all characters (strings and objects have bcome synonymous)
list = a sequence of objects/strings (lists are tuples by default unless you add brackets)

brackets = make it a list (can change values within variable)
tuple = parenthesis (cannot change values within variable unles syou recreate variable)

In [0]:
#[] are considered lists and modules
#you can change lists

Crypto = ["BitCoin", "Ether", "Chia"]

In [3]:
Crypto

['BitCoin', 'Ether', 'Chia']

In [0]:
#this allows us to change the values in the first position [0] of the list
Crypto[0] = "Tezos"

In [5]:
Crypto

['Tezos', 'Ether', 'Chia']

In [0]:
#lets create a 'Tuple'
# tuple is not mutable meaning you cannot change it

crypto = ("Tezos", "Ether", "Chia" )

In [9]:
crypto

('Tezos', 'Ether', 'Chia')

In [10]:
crypto[0] = "BitCoin"

TypeError: ignored

In [0]:
# creating a nested list, a list within a list

Crypto_ = ["BitCoin", ["Tezos", "Ether"], "Chia"]

In [12]:
Crypto_

['BitCoin', ['Tezos', 'Ether'], 'Chia']

In [0]:
Crypto_[1] = "My Crypto"

In [14]:
Crypto_

['BitCoin', 'My Crypto', 'Chia']

In [15]:
#This code allows us to locate info with lists
#the number 1 in the first bracket pulls the second value which has been nested together as one valie
#then the number 1 puells out the second values within the lists
Crypto_ = ["BitCoin", ["Tezos", "Ether"], "Chia"]
print(Crypto_[1][1])

Ether

In [17]:
#Add another data point to list
Crypto_.append("XRP")
print(Crypto_)

['BitCoin', ['Tezos', 'Ether'], 'Chia', 'Yen', 'XRP']

In [0]:
#Lists have a particular length
Currency = len(Crypto_)

In [19]:
#Now it shows us 5 values
#Currency tells us how many data points (values) within the list
Currency

5

In [21]:
print("You have {} kinds of crypto in your wallet".format(Currency))

You have 5 kinds of crypto in your wallet

CREATING A DICTIONARY!!

In [0]:
#HEres a super simple dictionary
#dictionaries are used heavily in NoSQL processing
Consultant = {
    "name": "Anthony",
    "profession": "Massage Therapist",
    "favorite color": "Blue",
}
Customer = {
    "Company": None,
    "Business Industry": "Holistic Medicine",
    "Company Locations": 3,
    "Employee Count": 222,
}

In [23]:
#We modify dictionary values jsut like we access them
if Customer["Company"] is None:
  Customer["Company"] = input("Create a DBA Company name for me to register?""")
  print("Great Nice to meet you, my name is {}".format(Consultant["name"]))

Create a DBA Company name for me to register?Yes
Great Nice to meet you, my name is Anthony

In [24]:
#Change a value within a dictionary
Customer["Business Industry"] = "Healthcare"
print(Customer["Business Industry"])

Healthcare

In [0]:
#NEW DICTIOnary

Tire_prices = {
    'Toyo': 100,
    'Goodyear': 150,
    'Nitto': 180,

}

In [0]:
def prices(Tire_brands):
  if Tire_brands in Tire_prices:
    return 'The tire price for {} is ${}'.format(Tire_brands, Tire_prices[Tire_brands])
  else:
    return 'The tire price for {} is not available'.format(Tire_brands)

In [36]:
prices("Toyo")

'The tire price for Toyo is $100'